:root {
    --blanco: #0000ff;
    --primario: #FFC107;
    --secundario: #ffff;
    --gris: #757575;
    --oscuro: #212121;
}
html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
}

p {
    line-height: 2;
}
body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
    
}

.left{
    float: left;
    
}
.right{
    float: right;
}
.center{
    
   display:inline-block
}
.blue-font {
    color: blue;
    font-size: 2.6rem;
  }
